@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-pattern {
    background-image: url('/profile.png'); /* Update with your actual image path */
  }
  
  .btn:hover {
    transition: transform 0.3s ease-in-out;
  }
  
  @media (hover: hover) {
    .btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  